<h1>Public::Customers#edit</h1>
<p>Find me in app/views/public/customers/edit.html.erb</p>


<h1>会員情報編集</h1>

<p>氏名</p>
<p>フリガナ</p>
<p>郵便番号</p>
<p>住所</p>
<p>電話番号</p>
<p>メールアドレス</p>

<p>編集内容を保存　（ボタンにする）</p>　退会する（ボタン化）
<%= link_to "保存", public_customer_path %>