<h1>Public::Customers#show</h1>
<p>Find me in app/views/public/customers/show.html.erb</p>

<h1>マイページ</h1>
<%#= form_with model: @customer, local:true do |f| %>
<%#= f.submit "編集する" %>
<%# end %>


登録情報 <%= link_to "編集する", edit_public_customer_path %>
　編集する（ボタン?を作る）リンク先はcustomer_editのページ

<p>氏名</p>
<p>カナ</p>
<p>郵便番号</p>
<p>住所</p>
<p>電話番号</p>
<p>メールアドレス</p>
<p>ここは枠をつける　Bootstrapでつく？</p>

<%= link_to "配送先一覧を見る", public_deliveries_path %>
<p>配送先　一覧を見る（ここもボタンにする）</p>
<%= link_to "注文一覧を見る", public_orders_path %>
<p>注文履歴　一覧を見る（ここもボタンにする）</p>